.skills {
    width: 100%;
    height: 100vh;
    background-color: #1B181B;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 740px) {
    .skills {
        height: 150vh;
    }
}

@media (max-width: 540px) {
    .skills {
        height: 260vh;
    }
}