.chartWrapper {
    position: relative;
    width: 80%;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 0.5fr 0.5fr; 
    grid-template-rows: 0.5fr 0.5fr; 
    gap: 20px 0px; 
    grid-template-areas: 
    "grid-Item1 grid-Item2 grid-Item3"
    "grid-Item4 grid-Item5 grid-Item6"; 
}

.grid-Item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.outerCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 6px 6px 5px -1px rgba(255, 255, 255, 0.7),
    -6px -6px 5px -1px rgba(255, 255, 255, 0.2);
}

.grid-Item > .circle > h2 {
    margin-top: 20px;
}

.innerCircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #1B181B;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 4px 4px 6px -1px rgba(255, 255, 255, 0.7),
    inset -4px -4px 3px -1px rgba(255, 255, 255, 0.2);
}

circle {
    fill: none;
    stroke-width: 26px;
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    animation: ani 2s forwards;
}

svg { 
    position: absolute;
    top: 0;
}

@keyframes ani {
    100% {
        stroke-dashoffset: 110;
    }
}

