.chartWrapper {
    position: relative;
    width: 80%;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 0.5fr 0.5fr; 
    grid-template-rows: 0.5fr 0.5fr; 
    gap: 20px 0px; 
    grid-template-areas: 
    "grid-Item1 grid-Item2 grid-Item3"
    "grid-Item4 grid-Item5 grid-Item6"; 
}

.grid-Item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
}

.flexGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CircularProgressbar-text {
    font-weight: bold;
    transform: translate(-15px, 5px);
}



