.HomeMain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heading1 {
    color: white;
    font-size: 96px;
    text-shadow: 2px 2px 4px grey;
    font-weight: 600;
}

.letterSp8 {
    letter-spacing: 8px;
}

.letterSp24 {
    letter-spacing: 24px;
}

.Main > div:nth-child(1) ,img {
    margin-top: 40px;
}