.contactPhone {
    width: 350px;
    height: 75vh;
    background: url(../../assets/iphone.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contactPhone > img:nth-child(1) {
    width: 150px;
    height: 150px;
}

.contactPhone > a:nth-child(2) > img {
    width: 60px;
}

.contactPhone > a:nth-child(3) >img {
    width: 80px;
}

.contactPhone > a:nth-child(4) > img {
    width: 60px;
    margin-bottom: 30px;
}

@media (max-width: 740px) {
    .contactPhone {
        width: 300px;
        height: 65vh;
        margin-top: 40px;
    }
}

@media (max-width: 540px) {
    .contactPhone {
        width: 345px;
    }
}