.formular {
    position: relative;
    z-index: 9999;
    width: 50%;
    height: 60vh;
}

.colorBlack {
    color: #372F2F;
}

input {
    height: 30px;
}

input, textarea {
    width: 80%;
    padding-left: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px -1px rgba(27, 27, 27, 0.6);
}
textarea {
    resize: none;
    height: 150px;
    padding-top: 8px;
}

.formular > form > button {
    border: 1px solid #372F2F;
    width: 150px;
    height: 35px;
    background-color: white;
    font-size: 16px;
    letter-spacing: 3px;
    margin-top: 20px;
}

.formular > form > button:hover {
    color: white;
    background-color: #372F2F;
    animation: fade 0.4s ease-in-out;
}

.error {
    margin-top: 10px;
    color: #fc0335;
    font-size: 12px;
}

@media (max-width: 740px) {
    .formular {
        width: 90%;
        margin-top: 60px;
    }

    .formular, form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 100%;
    }
}